# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Build
dist/
build/

# Logs
*.log